<!DOCTYPE html>

<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/dc-sensors.css">
		<link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
		<script src="/public/js/jquery-2.2.4.min.js"></script>
		<script src="/public/js/bootstrap-3.3.6.min.js"></script>
		<script src="/public/3rdparty/amcharts3/amcharts/amcharts.js"></script>
		<script src="/public/3rdparty/amcharts3/amcharts/serial.js"></script>
		{{range .moreStyles}}
			<link rel="stylesheet" type="text/css" href="/public/{{.}}">
		{{end}}
		{{range .moreScripts}}
			<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}
	</head>
	<body>
		<header>
			<a href="/"><img id='logo' src='/public/img/nrnu_mephi.png'></a>
			<table style='display:inline-table;margin-left:20px'>
				<tr>
					<td>
						<a href="https://mephi.ru/">НИЯУ МИФИ</a> / <a href="https://it.mephi.ru">УИ</a> / <a href="/">{{ .title }}</a>
					</td>
				</tr>
				<tr>
					<td style='line-height:10px'>
						<span style='font-size:10px;color:#888'>Контакты для связи: <a href='mailto:embed@ut.mephi.ru'>embed@ut.mephi.ru</a></span>
					</td>
				</tr>
			</table>
		</header>
		<main>

