[submodule "collector/firmware/Drivers/enc28j60"]
	path = collector/firmware/Drivers/enc28j60
	url = https://github.com/xaionaro/stm32-enc28j60
[submodule "server/httpsite/public/img/graph"]
	path = server/httpsite/public/img/graph
	url = https://devel.mephi.ru/dyokunev/graph
[submodule "server/httpsite/public/3rdparty/amcharts3"]
	path = server/httpsite/public/3rdparty/amcharts3
	url = https://github.com/amcharts/amcharts3
[submodule "server/httpsite/public/3rdparty/amcharts-export"]
	path = server/httpsite/public/3rdparty/amcharts-export
	url = https://github.com/amcharts/export
