<table id='map2d'>
	<tr>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div id='AirConditioning0' class='AirConditioning'>
				{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "AirConditioning0" }}
			</div>
		</td>
		<td>
			<div class='AirConditioning'> </div>
		</td>
		<td>
			<div id='AirConditioning1' class='AirConditioning'>
			</div>
		</td>
		<td>
			<div class='AirConditioning'> </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
		<td>
			<div class='ClosedFloor'> </div>
		</td>
	</tr>
	<tr>
			<div class='ClosedFloor'>
			</div>
			<div id="ServerRack0" class='ServerRack'>
			</div>
			<div id="ServerRack1" class='ServerRack'>
			</div>
			<div id="ServerRack2" class='ServerRack'>
			</div>
			<div id="ServerRack3" class='ServerRack'>
			</div>
			<div id="ServerRack4" class='ServerRack'>
			</div>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
		<td>
			<div class='OpenedFloor'>
			</div>
		</td>
	</tr>
	<tr class='rotate180'>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div id="ServerRack5" class='ServerRack'>
			</div>
		</td>
		<td>
			<div id="ServerRack6" class='ServerRack'>
			</div>
		</td>
		<td>
			<div id="ServerRack7" class='ServerRack'>
			</div>
		</td>
		<td>
			<div id="ServerRack8" class='ServerRack'>
			</div>
		</td>
		<td>
			<div id="ServerRack9" class='ServerRack'>
			</div>
		</td>
		<td>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
	</tr>
	<tr class='rotate180'>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='AirConditioning'>
			</div>
		</td>
		<td>
			<div id='AirConditioning2' class='AirConditioning'>
				{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "AirConditioning2" }}
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
		<td>
			<div class='ClosedFloor'>
			</div>
		</td>
	</tr>
</table>

<script>
	var sensors = {
	{{ range $sensorId,$sensorInfo := .sensors }}
		{{ $sensorId }}: {{$sensorInfo}},
	{{ end }}
		0:{}
	};
	var groups  = {{.groups}};

	function selectSensorsGroup(groupName) {
		var group = groups[groupName];

		var container = $('#sensors ul');

		container.html('');

		for (var i = 0; i < group.length; i++) {
			var sensorId = group[i];
			var sensor   = sensors[sensorId];
			container.append("<li><a href='#' onclick='selectSensor("+sensorId+")'>"+sensor.Name+" ("+sensor.Value+")</a></li>");
		}
	}

	function selectSensor(sensorId) {
		$.ajax({
			dataType:	'json',
			url:		'/HistoryRecords.json?order=date:DESC&limit='+(60*24*7)+'&historyRecord.AggregationType=2&historyRecord.SensorId='+sensorId,
			success:	function(data){
				data.historyRecords.sort(function(a, b){return a.Date < b.Date ? -1 : a.Date > b.Date})
				console.log(data.historyRecords);
				chart.dataProvider = data.historyRecords;
				chart.validateData();
			},
		});
	}
</script>
