<table id='map2d'>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td id='AirConditioning0' class='AirConditioning'>
			{{template "Dashboard/_sensitiveMapTile.html" (index .sensors 0) }}
		</td>
		<td class='AirConditioning'>
		</td>
		<td id='AirConditioning1' class='AirConditioning'>
		</td>
		<td class='AirConditioning'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td id="ServerRack0" class='ServerRack'>
		</td>
		<td id="ServerRack1" class='ServerRack'>
		</td>
		<td id="ServerRack2" class='ServerRack'>
		</td>
		<td id="ServerRack3" class='ServerRack'>
		</td>
		<td id="ServerRack4" class='ServerRack'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
		<td class='OpenedFloor'>
		</td>
	</tr>
	<tr class='rotate180'>
		<td class='ClosedFloor'>
		</td>
		<td id="ServerRack5" class='ServerRack'>
		</td>
		<td id="ServerRack6" class='ServerRack'>
		</td>
		<td id="ServerRack7" class='ServerRack'>
		</td>
		<td id="ServerRack8" class='ServerRack'>
		</td>
		<td id="ServerRack9" class='ServerRack'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
	</tr>
	<tr class='rotate180'>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td id='AirConditioning2' class='AirConditioning'>
		</td>
		<td class='AirConditioning'>
		</td>
	</tr>
	<tr>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
		<td class='ClosedFloor'>
		</td>
	</tr>
</table>
