<tr>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div id='AirConditioning0' class='AirConditioning'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "AirConditioning0" }}
		</div>
	</td>
	<td>
		<div class='AirConditioning'> </div>
	</td>
	<td>
		<div id='AirConditioning1' class='AirConditioning'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "AirConditioning1" }}
		</div>
	</td>
	<td>
		<div class='AirConditioning'> </div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
	<td>
		<div class='ClosedFloor'> </div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div id="ServerRack0" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack0" }}
		</div>
	</td>
	<td>
		<div id="ServerRack1" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack1" }}
		</div>
	</td>
	<td>
		<div id="ServerRack2" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack2" }}
		</div>
	</td>
	<td>
		<div id="ServerRack3" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack3" }}
		</div>
	</td>
	<td>
		<div id="ServerRack4" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack4" }}
		</div>
	</td>
	<td>
		<div id="ServerRack5" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack5" }}
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
	<td>
		<div class='OpenedFloor'>
		</div>
	</td>
</tr>
<tr class='rotate180'>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div id="ServerRack6" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack6" }}
		</div>
	</td>
	<td>
		<div id="ServerRack7" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack7" }}
		</div>
	</td>
	<td>
		<div id="ServerRack8" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack8" }}
		</div>
	</td>
	<td>
		<div id="ServerRack9" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack9" }}
		</div>
	</td>
	<td>
		<div id="ServerRack10" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack10" }}
		</div>
	</td>
	<td>
		<div id="ServerRack11" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack11" }}
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
<tr class='rotate180'>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='AirConditioning'>
		</div>
	</td>
	<td>
		<div id='AirConditioning2' class='AirConditioning'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "AirConditioning2" }}
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
