<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
<tr>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
<tr class='rotate180'>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div id="ServerRack12" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack12" }}
		</div>
	</td>
	<td>
		<div id="ServerRack13" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack13" }}
		</div>
	</td>
	<td>
		<div id="ServerRack14" class='ServerRack'>
			{{template "Dashboard/_sensorGroup.html" dict "sensors" .sensors "groups" .groups "groupName" "ServerRack14" }}
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
<tr class='rotate180'>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
	<td>
		<div class='ClosedFloor'>
		</div>
	</td>
</tr>
