{{template "header.html" dict "isMobile" true "title" "Информация с датчиков Центра Обработки Данных"}}

<script>
	var updateInterval = null;

	function autoupdatesToggle() {
		if (updateInterval == null) {
			updateInterval = setInterval(function() {
				updateMobileStatus();
			}, 5000);
			updateMobileStatus();
		} else {
			clearInterval(updateInterval);
			updateInterval = null;
			$('#mobileDashboardLayout').addClass('unknown');
		}
	}
	{{ if eq .mobileAutoupdate "true" }} autoupdatesToggle(); {{ end }}
</script>

{{template "Dashboard/_mobileDashboardLayout.html" dict "isMobile" true "sensors" .sensors "mobileAutoupdate" .mobileAutoupdate "mobileShowNames" .mobileShowNames}}

{{template "footer.html" .}}
