{{set . "title" "Информация с датчиков Центра Обработки Данных"}}
{{template "header.html" .}}

<table id='dashboardLayout' width='100%'>
	<tr>
		<td id='mapContainer' width='547px'>
			{{template "Dashboard/_2DMap.html" .}}
		</td>
		<td id='sensors'>
			<ul style='margin: 10px'>
			</ul>
			<span style='visibility:hidden'>hello there! 0x8E30679C</span>
		</td>
		<td id='graphs' width='99%'>
			<span id='chartConfig'>
				&nbsp;Интервал агрегации:
				<input id='aggregationType1' type='radio' name='aggregationType' value=1        ><label for="aggregationType1"> секунда </label>
				<input id='aggregationType2' type='radio' name='aggregationType' value=2 checked><label for="aggregationType2"> минута </label>
				<input id='aggregationType3' type='radio' name='aggregationType' value=3        ><label for="aggregationType3"> 5 минут </label>
				<input id='aggregationType4' type='radio' name='aggregationType' value=4        ><label for="aggregationType4"> час </label>
				<input id='aggregationType5' type='radio' name='aggregationType' value=5        ><label for="aggregationType5"> сутки </label>
				<input id='aggregationType6' type='radio' name='aggregationType' value=6        ><label for="aggregationType6"> неделя </label>
				|
				Глубина истории: <input id='limit' type='number' name='limit' value='2500' min=2 max=655350>
			</span>
			<div id='chartDiv'>
			</div>
		</td>
		<td>
		</td>
	</tr>
</table>

<script>
	var currentSensorId = 0;

	var chart = AmCharts.makeChart("chartDiv", {
			"type": "serial",
			"theme": "light",
			"marginTop":0,
			"marginRight": 80,
			"zoomOutText": "Показать всё",
			"zoomOutOnDataUpdate": false,
			"valueAxes": [{
				"title": "T",
				"axisAlpha": 0,
				"position": "left",
				"minimum": 10,
				"maximum": 40,
			}],
			"dataProvider": [{
				"Date":Date.now(),
				"ConvertedValue":0.0,
			}],
			"graphs": [{
				"id":"g1",
				"balloonText": "[[Date]]<br><b><span style='font-size:14px;'>[[ConvertedValue]]</span></b>",
				"lineColor": "#d1655d",
				"lineThickness": 2,
				"negativeLineColor": "#637bb6",
				"type": "line",
				"valueField": "ConvertedValue",
				"negativeBase": 23.5,
			}],
			"chartScrollbar": {
				"graph":"g1",
				"gridAlpha":0,
				"color":"#888888",
				"scrollbarHeight":55,
				"backgroundAlpha":0,
				"selectedBackgroundAlpha":0.1,
				"selectedBackgroundColor":"#888888",
				"graphFillAlpha":0,
				"autoGridCount":true,
				"selectedGraphFillAlpha":0,
				"graphLineAlpha":0.2,
				"graphLineColor":"#c2c2c2",
				"selectedGraphLineColor":"#888888",
				"selectedGraphLineAlpha":1

			},
			"chartCursor": {
				"categoryBalloonDateFormat": "YYYY-MM-DD HH:NN:SS",
				"cursorPosition": "mouse",
			},
			"dataDateFormat": "YYYY-MM-DD HH:NN:SS",
			"categoryField": "Date",
			"categoryAxis": {
				"minPeriod": "ss",
				"parseDates": true,
				"minorGridAlpha": 0.1,
				"minorGridEnabled": true
			},
			"export": {
				"enabled": true,
				"dateFormat": "YYYY-MM-DD HH:NN:SS"
			}
		});


	function updateTimestamp() {
		$.ajax({
			cache:		false,
			dataType:	'json',
			url:		'/TS.json',
			success:	function(data){
				$('#ts').html(data.ts);
			},
		});
	}
	function updateMap() {
		$.ajax({
			cache:		false,
			dataType:	'html',
			url:		'/Map.html',
			success:	function(data){
				$('#mapContainer').html(data);
			},
		});
	}

	$('#chartConfig input').change(function(){
		selectSensor(currentSensorId);
	})

	var selectedItem = window.location.href.split('#')[1];

	if (typeof(selectedItem) != 'undefined' && selectedItem != null && selectedItem != "") {
		selectedVars = selectedItem.split('=');
		switch (selectedVars[0]) {
			case 'selectSensor':
				selectSensor(selectedVars[1]);
				break;
			case 'selectSensorsGroup':
				selectSensorsGroup(selectedVars[1]);
				break;
		}
	}

	setInterval(function() {
		updateTimestamp();
	}, 1000);

	setInterval(function() {
		updateTimestamp();
		updateMap();
	}, 5000);
</script>

{{template "footer.html" .}}
